<div class="registerWrapper">
    <div class="registerContainer">
        <h3>MandaGram</h3>

        <div class="inputsContainer">
            <div class="inputButton">
                <input type="text" placeholder="Numero di telefono,nome utente email">
            </div>
            <div class="inputButton">
                <input type="password"placeholder="Password">
            </div>
            <div class="inputButton">
                <button>Accedi</button>
            </div>
        </div>
    </div>
    <div class="registerContainerTwo">
        <div>
            <span>Non hai un account? </span> <a href="">Iscriviti</a> 
        </div>
    </div>
</div>


<div></div>